<div class="md:h-screen w-full md:w-20 bg-blue-900 rounded-full flex md:flex-col items-center  mt-1 md:py-5">
  <ul class="flex items-center justify-center mt-2 md:flex-col space-x-4 md:space-x-0 md:space-y-0 w-full">

    <li routerLink="/Home" class="text-white flex flex-col items-center group cursor-pointer">
      <div class="w-12 h-12 flex items-center justify-center rounded-lg group-hover:bg-white group-hover:bg-opacity-20 transition-all">
        <i class="material-icons text-3xl">home</i>
      </div>
      <span class="text-xs mt-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">Home</span>
    </li>

    <li routerLink="/Tasks" class="text-white flex flex-col items-center group cursor-pointer">
      <div class="w-12 h-12 flex items-center justify-center rounded-lg group-hover:bg-white group-hover:bg-opacity-20 transition-all">
        <i class="material-icons text-3xl">checklist</i>
      </div>
      <span class="text-xs mt-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">Tasks</span>
    </li>
  </ul>
</div>
